@model BLL.GroupVM

<h1>@Model.GroupName</h1>

<p>@Model.GroupName has @Model.Subscribers.Subscribers.Count() Subscriber(s) in it.</p>

@if (Model.Subscribers != null)
{
    //Insert code to view Group's Subscribers here.
}