
@{
    ViewBag.Title = "EditGroups";
}

<h2>Edit Groups</h2>
<p>    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper enim id semper sagittis. Nunc gravida quam placerat, posuere purus ac, lacinia urna. Mauris sit amet velit id urna feugiat mollis quis et velit. Maecenas consectetur odio tortor, quis gravida nisl auctor id. Pellentesque bibendum arcu id vehicula pellentesque. Suspendisse tincidunt ligula ut mi posuere, at feugiat ligula eleifend. Vestibulum in risus vel felis dignissim scelerisque in in diam.<br/><br />

    Aenean condimentum enim enim, non suscipit nibh rhoncus a. Sed consequat sollicitudin nisi vitae lobortis. Suspendisse accumsan lorem et lorem vestibulum sollicitudin. Morbi laoreet lectus et felis viverra, ut mollis metus sagittis. Quisque varius quam erat, a porttitor magna eleifend vitae. Pellentesque mauris nisl, posuere ut dolor sed, tincidunt commodo sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean sodales, erat et dictum malesuada, odio leo bibendum lectus, eget iaculis magna neque ut magna. Integer elementum enim eget quam imperdiet viverra. Mauris eu condimentum justo. Duis varius elit vitae dapibus bibendum.<br /><br />

    Mauris condimentum egestas quam a fermentum. Nunc egestas nulla in molestie pellentesque. Suspendisse sagittis purus sed elit rutrum, eu luctus libero semper. Nunc at felis ut velit malesuada luctus. Aenean luctus ipsum non velit posuere lacinia. Aliquam mattis mattis dignissim. Ut massa sem, ornare a consequat in, lacinia quis leo.<br /><br />

    In iaculis facilisis felis, a iaculis purus luctus id. Sed laoreet blandit sodales. Nulla ornare a augue ac hendrerit. Praesent ullamcorper a leo a volutpat. Nullam eget purus justo. Integer faucibus tincidunt risus, in varius turpis. Aenean sodales orci ut purus dapibus, eu vehicula nibh fringilla. Quisque consequat arcu ut velit lacinia pulvinar interdum et ante. Donec ullamcorper mollis consequat. Phasellus tincidunt accumsan ligula in fermentum. Maecenas est turpis, semper sit amet risus et, gravida pharetra sapien. Sed semper odio nisi, vehicula varius mi fringilla eget. Aliquam rutrum ornare ipsum, et faucibus neque hendrerit euismod. Quisque posuere mollis dictum. Etiam at dapibus felis.<br /><br />

    Sed erat mauris, mattis vel tempor et, euismod non neque. Donec ut lobortis felis. Praesent dignissim tempor elit, ut tincidunt orci ultrices eget. Cras eget lacus purus. Quisque feugiat leo mi, eu suscipit ipsum eleifend vitae. Nullam sed justo libero. Suspendisse a lacus elit. Aenean gravida accumsan venenatis. Integer vitae lacinia eros. Donec accumsan magna id velit sollicitudin, ullamcorper ultricies sapien luctus. Suspendisse mollis enim enim, ac porttitor purus scelerisque et. Ut consequat, lectus id pretium euismod, sem dolor lacinia urna, quis feugiat augue nibh a nulla. </p>
