@model BLL.GroupFM

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div style="height: 225px; width: 35%; float: left; padding: 5px;">
    @Html.Action("ViewGroupSubscribers", Model)
</div>

<div style="height: 225px; overflow: auto; padding: 5px; margin-left: 10px; display: inline-block;">
    @*Code for viewing all subscribers with option to add to group*@
</div>