@model BLL.GroupsVM

@{
    ViewBag.Title = "Groups of subscribers";
}

<h2>Subscriber Groups</h2>

@*List subscriber group*@
@*Edit subscriber groups*@
<p class="btn btn-default">
    @Html.ActionLink("Edit Groups", "EditGroups", "SubscriberGroups")
    </p>
    @*Deactivate groups*@

