@model BLL.GroupsVM

@using BLL

@{
    ViewBag.Title = "View Groups";
}

<h2>Groups</h2>

<table>
    <tbody class="list" style="height: 225px">
        @for (int i = 0; i < Model.Groups.Count; i++)
        {
            <tr style="border: 1px solid #ccc;">
                <td>@Model.Groups[i].GroupName</td>
                <td>@Html.ActionLink("Edit", "Edit", Model.Groups[i])</td>
                <td>@Html.ActionLink("X", "Delete", Model.Groups[i], new { @class = "delete" })</td>
            </tr>
        }
    </tbody>
</table>