@model List<GroupVM>

@using BLL;

@if (Session["ID"] == null)
{
    @Html.Action("Index", "Home");
}

@{
    ViewBag.Title = "Bulk Upload Subscribers";
}

<h2>Add From File</h2>

@ViewBag.Subscribers

@ViewBag.ErrorMessage

@using (Html.BeginForm("AddFromFile", "Subscribers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" accept=".csv,.xml" name="file" />
    <select name="groupID">
        <option value=0>No Group</option>
        @for (int i = 0; i < Model.Count; i++)
        {
            <option value=@Model[i].ID>@Model[i].GroupName</option>
        }
    </select>
    <input type="submit" value="Upload Subscribers" />
}