USE [EmailCampaign]
GO
ALTER TABLE [dbo].[SubscriberGroups] DROP CONSTRAINT [FK__Subscriber__S_Id__2A4B4B5E]
GO
ALTER TABLE [dbo].[SubscriberGroups] DROP CONSTRAINT [FK__Subscriber__G_Id__29572725]
GO
ALTER TABLE [dbo].[Subscribers] DROP CONSTRAINT [DF__Subscribe__Activ__286302EC]
GO
ALTER TABLE [dbo].[SubscriberGroups] DROP CONSTRAINT [DF__Subscribe__Activ__276EDEB3]
GO
ALTER TABLE [dbo].[MarketingManagers] DROP CONSTRAINT [DF__Marketing__Activ__267ABA7A]
GO
ALTER TABLE [dbo].[Groups] DROP CONSTRAINT [DF__Groups__Active__25869641]
GO
/****** Object:  Table [dbo].[Subscribers]    Script Date: 1/8/2014 2:45:30 PM ******/
DROP TABLE [dbo].[Subscribers]
GO
/****** Object:  Table [dbo].[SubscriberGroups]    Script Date: 1/8/2014 2:45:30 PM ******/
DROP TABLE [dbo].[SubscriberGroups]
GO
/****** Object:  Table [dbo].[MarketingManagers]    Script Date: 1/8/2014 2:45:30 PM ******/
DROP TABLE [dbo].[MarketingManagers]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 1/8/2014 2:45:30 PM ******/
DROP TABLE [dbo].[Groups]
GO
/****** Object:  StoredProcedure [dbo].[UpdateMarketingManager]    Script Date: 1/8/2014 2:45:30 PM ******/
DROP PROCEDURE [dbo].[UpdateMarketingManager]
GO
/****** Object:  StoredProcedure [dbo].[UpdateGroup]    Script Date: 1/8/2014 2:45:30 PM ******/
DROP PROCEDURE [dbo].[UpdateGroup]
GO
/****** Object:  StoredProcedure [dbo].[SearchSubscribers]    Script Date: 1/8/2014 2:45:30 PM ******/
DROP PROCEDURE [dbo].[SearchSubscribers]
GO
/****** Object:  StoredProcedure [dbo].[GetSubscribersByID]    Script Date: 1/8/2014 2:45:30 PM ******/
DROP PROCEDURE [dbo].[GetSubscribersByID]
GO
/****** Object:  StoredProcedure [dbo].[GetSubscriberGroup]    Script Date: 1/8/2014 2:45:30 PM ******/
DROP PROCEDURE [dbo].[GetSubscriberGroup]
GO
/****** Object:  StoredProcedure [dbo].[GetMarketingManagerByID]    Script Date: 1/8/2014 2:45:30 PM ******/
DROP PROCEDURE [dbo].[GetMarketingManagerByID]
GO
/****** Object:  StoredProcedure [dbo].[GetMarketingManagerByEmail]    Script Date: 1/8/2014 2:45:30 PM ******/
DROP PROCEDURE [dbo].[GetMarketingManagerByEmail]
GO
/****** Object:  StoredProcedure [dbo].[GetGroupSubscribers]    Script Date: 1/8/2014 2:45:30 PM ******/
DROP PROCEDURE [dbo].[GetGroupSubscribers]
GO
/****** Object:  StoredProcedure [dbo].[GetAllSubscribers]    Script Date: 1/8/2014 2:45:30 PM ******/
DROP PROCEDURE [dbo].[GetAllSubscribers]
GO
/****** Object:  StoredProcedure [dbo].[GetAllMarketingManagers]    Script Date: 1/8/2014 2:45:30 PM ******/
DROP PROCEDURE [dbo].[GetAllMarketingManagers]
GO
/****** Object:  StoredProcedure [dbo].[GetAllGroups]    Script Date: 1/8/2014 2:45:30 PM ******/
DROP PROCEDURE [dbo].[GetAllGroups]
GO
/****** Object:  StoredProcedure [dbo].[DeleteSubscriberGroup]    Script Date: 1/8/2014 2:45:30 PM ******/
DROP PROCEDURE [dbo].[DeleteSubscriberGroup]
GO
/****** Object:  StoredProcedure [dbo].[DeleteSubscriberFromGroup]    Script Date: 1/8/2014 2:45:30 PM ******/
DROP PROCEDURE [dbo].[DeleteSubscriberFromGroup]
GO
/****** Object:  StoredProcedure [dbo].[DeleteMarketingManager]    Script Date: 1/8/2014 2:45:30 PM ******/
DROP PROCEDURE [dbo].[DeleteMarketingManager]
GO
/****** Object:  StoredProcedure [dbo].[DeactiveGroup]    Script Date: 1/8/2014 2:45:30 PM ******/
DROP PROCEDURE [dbo].[DeactiveGroup]
GO
/****** Object:  StoredProcedure [dbo].[CreateSubscriber]    Script Date: 1/8/2014 2:45:30 PM ******/
DROP PROCEDURE [dbo].[CreateSubscriber]
GO
/****** Object:  StoredProcedure [dbo].[CreateMarketingManager]    Script Date: 1/8/2014 2:45:30 PM ******/
DROP PROCEDURE [dbo].[CreateMarketingManager]
GO
/****** Object:  StoredProcedure [dbo].[AddSubscriberToGroup]    Script Date: 1/8/2014 2:45:30 PM ******/
DROP PROCEDURE [dbo].[AddSubscriberToGroup]
GO
USE [master]
GO
/****** Object:  Database [EmailCampaign]    Script Date: 1/8/2014 2:45:30 PM ******/
DROP DATABASE [EmailCampaign]
GO
/****** Object:  Database [EmailCampaign]    Script Date: 1/8/2014 2:45:30 PM ******/
CREATE DATABASE [EmailCampaign]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmailCampaign', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\EmailCampaign.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EmailCampaign_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\EmailCampaign_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmailCampaign].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmailCampaign]
GO
/****** Object:  StoredProcedure [dbo].[AddSubscriberToGroup]    Script Date: 1/8/2014 2:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddSubscriberToGroup]
	@S_ID INT,
	@G_ID INT
AS
BEGIN
	INSERT INTO SubscriberGroups
	VALUES(@S_ID, @G_ID, 1)
END



GO
/****** Object:  StoredProcedure [dbo].[CreateMarketingManager]    Script Date: 1/8/2014 2:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[CreateMarketingManager]
@Email VARCHAR(100),
@Password VARCHAR(25),
@Active BIT
AS
BEGIN
INSERT INTO MarketingManagers
VALUES (@Email, @Password, @Active)
END






GO
/****** Object:  StoredProcedure [dbo].[CreateSubscriber]    Script Date: 1/8/2014 2:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CreateSubscriber]
@Email VARCHAR(100),
@FirstName VARCHAR(100) = NULL,
@LastName VARCHAR(100) = NULL,
@Active BIT
AS
BEGIN
INSERT INTO Subscribers
VALUES (@Email, @FirstName, @LastName, @Active)
END






GO
/****** Object:  StoredProcedure [dbo].[DeactiveGroup]    Script Date: 1/8/2014 2:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeactiveGroup]
	@ID INT
AS
BEGIN
	UPDATE Groups
	SET Active = 0
		WHERE ID = @ID
END



GO
/****** Object:  StoredProcedure [dbo].[DeleteMarketingManager]    Script Date: 1/8/2014 2:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DeleteMarketingManager]
	@ID int
AS
BEGIN
	update MarketingManagers
	set Active = 0
	where ID = @ID
END





GO
/****** Object:  StoredProcedure [dbo].[DeleteSubscriberFromGroup]    Script Date: 1/8/2014 2:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteSubscriberFromGroup]
	@G_ID INT,
	@S_ID INT
AS
BEGIN
	UPDATE SubscriberGroups
	SET Active = 0
		WHERE G_ID = @G_ID
		AND S_ID = @S_ID
END



GO
/****** Object:  StoredProcedure [dbo].[DeleteSubscriberGroup]    Script Date: 1/8/2014 2:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteSubscriberGroup]
	@ID INT
AS
BEGIN
	UPDATE SubscriberGroups
	SET Active = 0
		WHERE ID = @ID
END



GO
/****** Object:  StoredProcedure [dbo].[GetAllGroups]    Script Date: 1/8/2014 2:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllGroups]

AS
BEGIN
	SELECT * FROM Groups
	Where Active = 1
END


GO
/****** Object:  StoredProcedure [dbo].[GetAllMarketingManagers]    Script Date: 1/8/2014 2:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllMarketingManagers]

AS
BEGIN
SELECT * FROM MarketingManagers
WHERE Active=1
END






GO
/****** Object:  StoredProcedure [dbo].[GetAllSubscribers]    Script Date: 1/8/2014 2:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllSubscribers]

AS
BEGIN
SELECT * FROM Subscribers
WHERE Active=1
END






GO
/****** Object:  StoredProcedure [dbo].[GetGroupSubscribers]    Script Date: 1/8/2014 2:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetGroupSubscribers]
@GroupID INT
AS
BEGIN
SELECT Subscribers.ID, Subscribers.Email, Subscribers.FirstName, Subscribers.LastName FROM Subscribers
JOIN SubscriberGroups
ON Subscribers.ID = S_Id
WHERE G_Id = @GroupID
AND Subscribers.Active = 1
AND SubscriberGroups.Active = 1
END



GO
/****** Object:  StoredProcedure [dbo].[GetMarketingManagerByEmail]    Script Date: 1/8/2014 2:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetMarketingManagerByEmail] 
	-- Add the parameters for the stored procedure here
	@Email varchar(100)
AS
BEGIN
	select * from MarketingManagers
	where Email = @Email and Active = 1
END





GO
/****** Object:  StoredProcedure [dbo].[GetMarketingManagerByID]    Script Date: 1/8/2014 2:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetMarketingManagerByID]
@ID INT
AS
BEGIN
SELECT * FROM MarketingManagers
WHERE Active=1 AND ID = @ID
END






GO
/****** Object:  StoredProcedure [dbo].[GetSubscriberGroup]    Script Date: 1/8/2014 2:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetSubscriberGroup]
@ID INT
AS
BEGIN
SELECT * FROM SubscriberGroups
JOIN Groups as G
ON SubscriberGroups.G_Id = G.ID
WHERE S_Id = @ID
END



GO
/****** Object:  StoredProcedure [dbo].[GetSubscribersByID]    Script Date: 1/8/2014 2:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetSubscribersByID]
@ID INT
AS
BEGIN
SELECT * FROM Subscribers
WHERE Active=1 AND ID = @ID
END






GO
/****** Object:  StoredProcedure [dbo].[SearchSubscribers]    Script Date: 1/8/2014 2:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SearchSubscribers] 
@search VARCHAR(100)
AS
BEGIN
 SELECT * FROM Subscribers
 WHERE 
 Active = 1
 AND 
 (
 FirstName LIKE @search
 OR LastName LIKE @search
 OR EMAIL LIKE @search
 )
END



GO
/****** Object:  StoredProcedure [dbo].[UpdateGroup]    Script Date: 1/8/2014 2:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateGroup]
	@ID INT,
	@Name VARCHAR(50)
AS
BEGIN
	UPDATE Groups
	SET Name = @Name
		WHERE ID = @ID
END



GO
/****** Object:  StoredProcedure [dbo].[UpdateMarketingManager]    Script Date: 1/8/2014 2:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[UpdateMarketingManager]
	@Email varchar(100), @Password varchar(25), @ID int
AS
BEGIN
	update MarketingManagers
	set Email = @Email, Password = @Password
	where ID = @ID and Active = 1
END





GO
/****** Object:  Table [dbo].[Groups]    Script Date: 1/8/2014 2:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Groups](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MarketingManagers]    Script Date: 1/8/2014 2:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MarketingManagers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](25) NOT NULL,
	[Active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SubscriberGroups]    Script Date: 1/8/2014 2:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscriberGroups](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[S_Id] [int] NULL,
	[G_Id] [int] NULL,
	[Active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Subscribers]    Script Date: 1/8/2014 2:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Subscribers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[Active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Groups] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[MarketingManagers] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[SubscriberGroups] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Subscribers] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[SubscriberGroups]  WITH CHECK ADD FOREIGN KEY([G_Id])
REFERENCES [dbo].[Groups] ([ID])
GO
ALTER TABLE [dbo].[SubscriberGroups]  WITH CHECK ADD FOREIGN KEY([S_Id])
REFERENCES [dbo].[Subscribers] ([ID])
GO
USE [master]
GO
