@{
    ViewBag.Title = "Home Page";
}

<h1>Black Mesa Marketing Research Corporation</h1>
<h4><i>Working to build a better tomorrow for all mankind.</i></h4>
<p>This is the launch page for the Black Mesa Research Corporation's marketing email campaign.</p>
<hr />
<p> Please login and choose your tasks from the left navigation bar.</p>
<hr />
<h2>More about the project</h2>
<p> If you have questions concerning the use of this website, or the intent of the project, 
    please visit our information page for help. </p> 

<p><strong>Remember: an informed employee is a safe employee!</strong></p>
<hr />

