@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Black Mesa Research Facility<br />
    211 S. Tillman Street<br />
    Glennville, GA 30427<br />
    <abbr title="Phone">P:</abbr>
    912-654-0000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>