USE [master]
GO
/****** Object:  Database [EmailCampaign]    Script Date: 12/31/2013 3:27:16 PM ******/
CREATE DATABASE [EmailCampaign]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmailCampaign', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\EmailCampaign.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EmailCampaign_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\EmailCampaign_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmailCampaign].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmailCampaign]
GO
/****** Object:  StoredProcedure [dbo].[CreateMarketingManager]    Script Date: 12/31/2013 3:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[CreateMarketingManager]
@Email VARCHAR(100),
@Password VARCHAR(25),
@Active BIT
AS
BEGIN
INSERT INTO MarketingManagers
VALUES (@Email, @Password, @Active)
END






GO
/****** Object:  StoredProcedure [dbo].[CreateSubscriber]    Script Date: 12/31/2013 3:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CreateSubscriber]
@Email VARCHAR(100),
@FirstName VARCHAR(100),
@LastName VARCHAR(100),
@Active BIT
AS
BEGIN
INSERT INTO Subscribers
VALUES (@Email, @FirstName, @LastName, @Active)
END






GO
/****** Object:  StoredProcedure [dbo].[DeleteMarketingManager]    Script Date: 12/31/2013 3:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DeleteMarketingManager]
	@ID int
AS
BEGIN
	update MarketingManagers
	set Active = 0
	where ID = @ID
END





GO
/****** Object:  StoredProcedure [dbo].[GetAllMarketingManagers]    Script Date: 12/31/2013 3:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllMarketingManagers]

AS
BEGIN
SELECT * FROM MarketingManagers
WHERE Active=1
END






GO
/****** Object:  StoredProcedure [dbo].[GetAllSubscribers]    Script Date: 12/31/2013 3:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllSubscribers]

AS
BEGIN
SELECT * FROM Subscribers
WHERE Active=1
END






GO
/****** Object:  StoredProcedure [dbo].[GetMarketingManagerByEmail]    Script Date: 12/31/2013 3:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetMarketingManagerByEmail] 
	-- Add the parameters for the stored procedure here
	@Email varchar(100)
AS
BEGIN
	select * from MarketingManagers
	where Email = @Email and Active = 1
END





GO
/****** Object:  StoredProcedure [dbo].[GetMarketingManagerByID]    Script Date: 12/31/2013 3:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetMarketingManagerByID]
@ID INT
AS
BEGIN
SELECT * FROM MarketingManagers
WHERE Active=1 AND ID = @ID
END






GO
/****** Object:  StoredProcedure [dbo].[GetSubscribersByID]    Script Date: 12/31/2013 3:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetSubscribersByID]
@ID INT
AS
BEGIN
SELECT * FROM Subscribers
WHERE Active=1 AND ID = @ID
END






GO
/****** Object:  StoredProcedure [dbo].[SearchSubscribers]    Script Date: 12/31/2013 3:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:  <Author,,Name>
-- Create date: <Create Date,,>
-- Description: <Description,,>
-- =============================================
create PROCEDURE [dbo].[SearchSubscribers] 
@search VARCHAR(100)
AS
BEGIN
 SELECT * FROM Subscribers
 WHERE 
 Active = 1
 AND 
 (
 FirstName LIKE @search
 OR LastName LIKE @search
 OR EMAIL LIKE @search
 )
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateMarketingManager]    Script Date: 12/31/2013 3:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[UpdateMarketingManager]
	@Email varchar(100), @Password varchar(25), @ID int
AS
BEGIN
	update MarketingManagers
	set Email = @Email, Password = @Password
	where ID = @ID and Active = 1
END





GO
/****** Object:  Table [dbo].[MarketingManagers]    Script Date: 12/31/2013 3:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MarketingManagers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](25) NOT NULL,
	[Active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Subscribers]    Script Date: 12/31/2013 3:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Subscribers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[Active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[MarketingManagers] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Subscribers] ADD  DEFAULT ((1)) FOR [Active]
GO
USE [master]
GO
