@*@model BLL.SubscribersVM
@using BLL
@if (Model.Subscribers != null)
{ 
foreach(SubscriberVM subscriber in Model.Subscribers)
{
    @Html.HiddenFor(m => subscriber.Email)
        <p>@subscriber.Email</p>
}
}*@