@if (Session["ID"] == null)
{
    @Html.Action("Index", "Home");
}

@{
    ViewBag.Title = "Bulk Upload Subscribers";
}

<h2>AddFromFile</h2>

@using (Html.BeginForm("AddFromFile", "Subscribers", FormMethod.Post))
{
    <form method="post" action="file-upload-1.htm" name="submit" enctype="multipart/form-data">
        <input type="file" name="fileName"><br />
        <input type="submit" name="submit" value="Upload Subscribers">
    </form>
}