@model BLL.SubscribersVM

@{
    ViewBag.Title = "EmailSubscribers";
}

<h2>Email Subscribers</h2>

@using (Html.BeginForm("Email", "Subscribers", FormMethod.Post))
{
    <table border="1" width="1200">
    <tr>
        <td colspan="2" width="1200px">
            <b>Body:</b><br />
            <textarea rows="255" cols="255"></textarea>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            <input type="submit" value="Send" />
        </td>
    </tr>
</table>
}