@model BLL.SubscribersVM

@{
    ViewBag.Title = "EmailSubscribers";
}

<h2>Email Subscribers</h2>

@using (Html.BeginForm("Email", "Subscribers", FormMethod.Post))
{
    <textarea rows="15" cols="125"></textarea><br/>
    <input type="submit" value="Send" />
}