@model BLL.SubscribersFM

@using BLL;
@{
    ViewBag.Title = "Search Subscribers";
}
<h2>Search for subscriber</h2>
<div class="form-group">
    <div class="col-md-2 control-label">Info to search for</div>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
    </div>
</div>