@if (Session["ID"] == null)
{
    @Html.Action("Index", "Home");
}

@{
    ViewBag.Title = "Bulk Upload Subscribers";
}

<h2>Add From File</h2>

@ViewBag.Subscribers

@ViewBag.ErrorMessage

@using (Html.BeginForm("AddFromFile", "Subscribers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="Upload Subscribers" />
}